<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="frm" (ngSubmit)="onSubmit(frm.value)">
      <div class="mb-3">
        <label for="nameSurname" class="form-label">Ad Soyad</label>
        <input type="text" formControlName="nameSurname" class="form-control" id="nameSurname" placeholder="Ad Soyad" [ngClass]="{'is-invalid': submitted && component['nameSurname'].errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component['nameSurname'].errors['required']">Lütfen Ad Soyad bilgisini giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['nameSurname'].errors['minlength'] || component['nameSurname'].errors['maxlength'])">Lütfen Ad Soyad bilgisini 3 ile 50 karakter arasinda giriniz.</small>
      </div>
      <div class="mb-3">
        <label for="userName" class="form-label">Kullanici Adi</label>
        <input type="text" formControlName="userName" class="form-control" id="userName" placeholder="Kullanici Adi" [ngClass]="{'is-invalid': submitted && component['userName'].errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component['userName'].errors['required']">Lütfen Kullanici Adi bilgisini giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['userName'].errors['minlength'] || component['userName'].errors['maxlength'])">Lütfen Kullanici Adi bilgisini 3 ile 50 karakter arasinda giriniz.</small>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email Adres</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email address" [ngClass]="{'is-invalid': submitted && component['email'].errors}" aria-describedby="emailHelp">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component['email'].errors['required']">Lütfen Email Adres bilgisini giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['email'].errors['email'])">Lütfen gecerli bir Email Adres bilgisini giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['email'].errors['maxlength'])">Lütfen Email Adres bilgisini en fazla 250 karakter giriniz.</small>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Sifre</label>
        <input type="password" formControlName="password" class="form-control" id="password" placeholder="Sifre" [ngClass]="{'is-invalid': submitted && component['password'].errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component['password'].errors['required']">Lütfen Sifreyi giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['password'].errors['email'] || component['password'].errors['maxlength'])">Lütfen Sifreyi 8 ile 20 karakter arasinda giriniz.</small>
      </div>
      <div class="mb-3">
        <label for="passwordConfirm" class="form-label">Sifre Tekrari</label>
        <input type="password" formControlName="passwordConfirm" class="form-control" id="passwordConfirm" placeholder="Sifre Tekrari" [ngClass]="{'is-invalid': submitted && component['passwordConfirm'].errors}">
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && component['passwordConfirm'].errors['required']">Lütfen Sifreyi giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && (component['passwordConfirm'].errors['email'] || component['passwordConfirm'].errors['maxlength'])">Lütfen Sifreyi 8 ile 20 karakter arasinda giriniz.</small>
        <small class="form-text text-muted invalid-feedback" *ngIf="submitted && frm.hasError('notSame')">Lütfen Sifreyi dogrulayiniz.</small>
      </div>

      <button type="submit" class="btn btn-primary">Kayit Ol</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>


