<h1 mat-dialog-title>{{data.name}} Endpoint'ine Rol Atama</h1>
<div mat-dialog-content>
  <p>{{data.name}} Endpoint'ine rol atamak ister misiniz ?</p>
  <!--<mat-form-field appearance="fill">
    <mat-label>Favorite Animal</mat-label>
    <input matInput [(ngModel)]="data.animal">
  </mat-form-field>-->
</div>

<mat-selection-list #rolesComponent>
  <mat-list-option *ngFor="let role of listRoles" selected="{{role.selected}}">
    {{role.name}}
  </mat-list-option>
</mat-selection-list>

<p matBadge="{{rolesComponent.selectedOptions.selected.length}} - {{roles.totalRoleCount}}" matBadgeOverlap="true">
  Options selected:
</p>

<div matBadge="4" matBadgeOverlap="false"></div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Iptal</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial (click)="assignRoles(rolesComponent)">Rolleri Ata</button>
</div>


